src/main/resources/mapper/myorm.dtd

<!ELEMENT mapper (select|insert|update|delete)>
<!ELEMENT select (#PCDATA)>
<!ELEMENT insert (#PCDATA)>
<!ELEMENT update (#PCDATA)>
<!ELEMENT delete (#PCDATA)>

<!ATTLIST mapper namespace CDATA true>
<!ATTLIST select id CDATA true>
<!ATTLIST select parameterType CDATA true>
<!ATTLIST select resultType CDATA true>

<!ATTLIST delete id CDATA true>
<!ATTLIST delete parameterType CDATA true>
<!ATTLIST delete resultType CDATA true>

